@charset "utf-8";
/* CSS Document */

html, body {
  margin:0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5; 
  background-color: white;  
  width: 100%
}

article {
	-webkit-columns: 2 700px;
	-moz-column-count: 2 700px;
	column-count: 2 700px;
}

p {
	margin-bottom: 1.3em;
}

h1 {
    margin: 0;
}

* {
	box-sizing: border-box;
}

/* FONT FAMILY DEFAULT APPEARANCES */

/* MAIN HEADER */

.header {
	background-image: url(https://cloud.githubusercontent.com/assets/26256098/25022135/c1d75b0e-2062-11e7-990d-28a391af400f.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: fixed;
	background-size: contain;
	margin: 0;
    padding-top: 0em;
	padding-bottom: 12em;
	overflow: hidden;
	width: 100%;
	height: 100px;
	width: auto\9; /* ie8 */
}

.logo {
	float: left;
	text-align: left;
	padding-bottom: 0 15px 15px 15px;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 50px;
}

.logo a:hover {
	color: maroon;
}

#logo {
	display:inline;
	font-size: 2em;
	font-weight: 50%;
	font-family: 'Rye', cursive;
	
}

/* MAIN NAVIGATION */

.nav {
	text-align: center;
	line-height: 0.5em;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C07926;
}

.nav ul {
  width: 100%;
  display: block;
  margin-top: 5px; 
  margin-bottom: 5px;
  word-spacing: 50px;
  white-space: nowrap;
}

.nav li {
  display: inline;
  border-right: 2px solid #1E1E1E;
  border-right: 2px solid #1E1E1E;
  padding-right: 50px;
}

.nav li:first-child {
	padding-left: 50px;
	border-left: 2px solid #1E1E1E;
}

.nav a {
  padding-bottom: 5px;
  font-size: 1em;
  text-decoration: none;
  color: #1E1E1E;
  font-family: 'Lato', sans-serif;
}

.nav a:hover {
	color: maroon;
}

/* BODY OF PAGE */

/* IMAGES & TEXT */


.intro {
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.scene2 {
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.scene1 {
	display: block;
	float: left;
	height: auto;
	max-width: 100%;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#cap1 {
	text-align: center;
	padding-top: 20px;
}

/* FOOTER NAVIGATION */


.logo {
}

@media (max-width: 1024px){
}

@media (max-width: 1366px){
}
