<!doctype html>
<html>
<head>
<title>Portfolio Site</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/work.css"
<link href="https://fonts.googleapis.com/css?family=Lato|Rye" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Lato|Rye');
.js {
}
</style>
	</head>

<body>
<div class="header">
  <div class="logo">
  <h1 id="logo">Nadia Marrero-Silva</h1></div>
	   
	<div class="nav">
      <ul>
        <li id="active"><a href="home.html"><b>Home</b></a></li>
        <li id="active"><a href="work.html">Work</a></li>
        <li id="active"><a href="about.html">About</a></li>
		<li id="active"><a href="">Contact</a></li>
      </ul>
	</div>
</div>
	  
	  </header>
